.register,
.login {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    padding-left: 90px;
    background: linear-gradient(to top right, black 70%, white 30%);
}

.register-container {
    width: 900px;
    /* 2x of original */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-container {
    width: 450px;
    /* 1.5x of 300px */
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* 1.5x of 20px */
}

.top-section {
    display: flex;
    justify-content: flex-start;
    /* align horizontally to the left */
    align-items: flex-start;
    /* align vertically to the top */
    width: 100%;
    padding: 0 2%;
    position: relative;
}

.register-title,
.login-title {
    font-size: 6em;
    /* 1.5x of 4em */
    font-weight: bold;
    color: white;
}

.register-input-fields {
    display: grid;
    /* Change to grid */
    grid-template-columns: 1fr 1fr;
    /* Create two equal-width columns */
    gap: 30px;
    /* Add gap between columns and rows */
}


.register-input,
.login-input {
    padding: 15px;
    /* 1.5x of 10px */
    border: 2px solid white;
    width: 100%;
    outline: none;
    color: white;
    background: black;
    font-size: 1.5em;
    /* Assuming a 1em default, so scaled by 1.5x */
}

.login-input {
    margin-bottom: 30px;
}

.register-options,
.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-link,
.login-link {
    text-decoration: underline;
    color: white;
    font-size: 1.5em;
    /* Assuming a 1em default, so scaled by 1.5x */
}

.register-button,
.login-button {
    padding: 15px 30px;
    /* 1.5x of 10px 20px */
    background-color: white;
    color: black;
    font-size: 1.5em;
    border-radius: 30px;
    font-family: 'Bebas Neue', 'Cormorand Garamond';
}

.register-input-fields input {
    margin-bottom: 30px;
}

.register-input-fields input:nth-child(2n+1) {
    margin-right: 20px;
}

.register-input-fields input:nth-child(2n) {
    margin-left: 20px;
}

.back-arrow::before {
    content: "\2190 ";
}

.back-arrow {
    font-size: 2.5em;
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.back-arrow a {
    text-decoration: none;
    /* Removes underline */
    color: white;
    /* Makes the text white */
    transition: color 0.3s ease;
    /* Optional: Smooth transition for color changes */
}

/* Remove styles for visited links */
.back-arrow a:visited {
    color: white;
}

/* Remove styles for active (clicked) links */
.back-arrow a:active {
    color: white;
}