.header {
    position: relative;
    text-align: center;
    /* other styles */
}

.header h1 {
    font-size: 4.5em;
    /* Adjust this value as needed */
}

.close-icon {
    position: absolute;
    left: 25px;
    /* Adjust this value as needed */
    top: 40%;
    /* Adjusted from 50% to 40% to raise the icon */
    transform: translateY(-40%);
    padding: 10px;
    font-size: 6em;
    font-weight: lighter;
    /* Makes the "X" lines appear narrower */
}