.header {
    position: relative;
    text-align: center;
}

.header h1 {
    font-size: 4.5em;
    /* Adjust this value as needed */
}

.close-icon {
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 20%;
    font-size: 3.5em;
}

.production-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    /* Adjusted from 50% to 40% to raise the icon */
    transform: translateY(-50%);
    padding: 10px;
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
}

.dropdown {
    position: absolute;
    left: 30px;
    /* Adjust as needed */
    top: 40%;
    /* Adjust as needed */
    width: 200px;
    /* Adjust as needed */
    list-style-type: none;
    transform: translateY(-50%);
    z-index: 1;
}

.dropdown li {
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    color: #fff;
    /* White text color */
}

.dropdown li:hover {
    color: #fff;
    /* Keeps the text color white on hover */
}