.header {
    position: relative;
    text-align: center;
}

.header h1 {
    font-size: 4.5em;
    /* Adjust this value as needed */
}

.icon-wrapper {
    position: absolute;
    left: 25px;
    top: 50%;
    /* Increase this value to move the icon down */
    transform: scale(3.5);
    /* This will visually scale the icon */
    cursor: pointer;
}

.close-icon {
    position: relative;
    /* Positioned relative to the wrapper */
    font-size: 1em;
    /* Set the actual font size back to 1em */
}

.production-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    /* Adjusted from 50% to 40% to raise the icon */
    transform: translateY(-50%);
    padding: 10px;
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
}

.dropdown {
    position: absolute;
    left: 80px;
    /* Adjust as needed */
    top: -10%;
    /* Decrease this value to move the dropdown list up */
    width: 200px;
    /* Adjust as needed */
    list-style-type: none;
}

.dropdown li {
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    color: #fff;
    /* White text color */
}

.dropdown li:hover {
    color: #fff;
    /* Keeps the text color white on hover */
}