.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 80vh;
    /* adjust this value as needed to fit the grid, title, and caption on screen */
    width: 80vw;
    /* adjust this value as needed to center the grid horizontally */
    margin: auto;
    /* centers the grid horizontally */
    gap: 1rem;
}

.grid-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    /* adjust timing as needed */
}

.grid-item:hover {
    transform: scale(1.05);
    /* adjust scaling factor as needed */
}

.article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}