.article-container-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2%;
    position: relative;
}

.article-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 10px 0;
}

.article-image-popular {
    width: 100%;
    /* Takes the full width of the .article div */
    height: 400px;
    /* Fixed height for uniformity, adjust as needed */
    object-fit: cover;
    margin-bottom: 10px;
    position: relative;
    /* Needed so that the ::before element positions itself relative to the image */
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.6);
}

.article-image-popular::before {
    content: "";
    position: absolute;
    top: -20%;
    /* Adjust these values to control the 'jutting out' effect */
    left: -20%;
    right: -20%;
    bottom: -20%;
    background-color: #ff9900;
    /* Change this to the desired card color */
    z-index: 1;
    /* Keeps the card below the image */
}

.header-popular {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    margin: 0;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.back-arrow-popular::before {
    content: "\2190 ";
}

.back-arrow-popular {
    font-size: 2.5em;
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.article:nth-child(odd) {
    margin-left: -12%;
    /* Adjust this percentage to control the amount of shift */
}

.article:nth-child(even) {
    margin-left: 12%;
    /* Adjust this percentage to control the amount of shift */
}