.article-image-popular {
    width: 45%;
    height: 45%;
}

.header-popular {
    font-size: 6em;
    /* 1.5x of 4em */
    font-weight: bold;
    color: white;
}

.back-arrow-popular::before {
    content: "\2190 ";
}

.back-arrow-popular {
    font-size: 2.5em;
}