.article-container-popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2%;
    position: relative;
}

.article-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.header-popular {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    margin: 0;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.back-arrow-popular::before {
    content: "\2190 ";
}

.back-arrow-popular {
    font-size: 2.5em;
    cursor: pointer;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.production-icon {
    right: 3%;
}


.a {
    color: white;
}

.bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
    /* This will push the image to the right */
    width: 10px;
    /* Adjust based on your image's size or how big you want it */
    height: 10px;
    /* Adjust based on your image's size or how big you want it */
    background: url('../assets/sea-poster.jpeg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

.article-container-popular::before {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    /* This will position the pseudo-element to the bottom right */
    z-index: -1;
    background-image: url('../assets/sea-poster.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 750px;
    width: 850px;
    background-size: 850px 750px;
    /* This ensures the entire image is visible within the defined dimensions, maintaining its aspect ratio. */
    background-position: bottom right 0px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}