.article-container-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2%;
    position: relative;
}

.article-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.header-pages {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    margin: 0;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.back-arrow-pages::before {
    content: "\2190 ";
}

.back-arrow-pages {
    font-size: 2.5em;
    cursor: pointer;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.back-arrow-pages a {
    text-decoration: none;
    /* Removes underline */
    color: white;
    /* Makes the text white */
    transition: color 0.3s ease;
    /* Optional: Smooth transition for color changes */
}

/* Remove styles for visited links */
.back-arrow-pages a:visited {
    color: white;
}

/* Remove styles for active (clicked) links */
.back-arrow-pages a:active {
    color: white;
}

.production-icon {
    right: 3%;
}


.a {
    color: white;
}

.bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
    /* This will push the image to the right */
    width: 10px;
    /* Adjust based on your image's size or how big you want it */
    height: 10px;
    /* Adjust based on your image's size or how big you want it */
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

.article-container-pages::before {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    /* This will position the pseudo-element to the bottom right */
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    height: 750px;
    width: 850px;
    background-size: 850px 750px;
    /* This ensures the entire image is visible within the defined dimensions, maintaining its aspect ratio. */
    background-position: bottom right 0px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}